* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chess-board {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    /* border : 2px solid red; */
}

.row {
    display: flex;
}

.box {
    border: 1px solid white;
}